timm
hydra-core
git+https://github.com/openai/CLIP.git
ftfy
regex
point-transformer-pytorch
sentence_transformers
numpy-quaternion
git+https://github.com/facebookresearch/detectron2.git
pandas
pyntcloud
hydra-submitit-launcher
git+https://github.com/zhanghang1989/PyTorch-Encoding/
torchmetrics
sentence-transformers
opencv-python
imageio
altair
streamlit
protobuf
matplotlib
test-tube
wandb
numpy
einops
pytorch-lightning
pyquaternion
pyliblzfse
open3d
